setuptools==47.1.1
absl-py==0.9.0
aiohttp==3.6.2
aiohttp-cors==0.7.0
astor==0.8.1
async-timeout==3.0.1
attrs==19.3.0
chardet==3.0.4
Flask==1.1.2
Flask-Cors==3.0.8
gast==0.2.2
grpcio==1.29.0
gunicorn==20.0.4
h5py==2.10.0
itsdangerous==1.1.0
Jinja2==2.11.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.2.2
MarkupSafe==1.1.1
numpy==1.18.1
opencv-python==4.2.0.34
psutil ==5.7.0
Pillow==7.1.2
protobuf==3.12.2
schematics==2.1.0
scipy==1.4.1
six==1.15.0
slidingwindow==0.0.13
slim==0.5.9
tensorboard==1.15.0
tensorflow==2.6.4
tensorflow-estimator==1.15.1
yarl==1.4.2
zipp==3.1.0
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1